<section class="relative">

    <div
        class="absolute -right-20 top-0 flex items-center justify-center select-none">

        <action-button text="Edit" route="editor" icon="fa-pen" color="blue"
            size="small">
        </action-button>

    </div>

    <h1 class="text-mygreen">
        {{course.title}}
    </h1>

    <task-view [task]="course.home"></task-view>

    <div class="flex items-center justify-center select-none"
        *ngIf="firstChapter">
        <action-button text="Start !" (click)="startCourse()" icon="fa-bolt"
            size="big" color="red">
        </action-button>
    </div>

</section>