<section class="relative mt-12 m-0 p-4 w-full md:m-auto">


    <div
        class="text-mydarkblue-500 dark:text-gray-100 font-extrabold text-3xl md:text-5xl mb-12 mt-8 font-display text-center">
        {{course.title}}
    </div>

    <div class="flex items-center justify-center select-none -mt-8">

        <action-button text="Edit" route="editor" icon="fa-pen" color="blue"
            size="small">
        </action-button>

    </div>

    <task-view [task]="course.home"></task-view>

    <div class="flex items-center justify-center select-none"
        *ngIf="firstChapter">
        <action-button text="Start !" (click)="startCourse()" icon="fa-bolt"
            size="big" color="red">
        </action-button>
    </div>

</section>