<section class="relative mt-12 m-0 p-4 w-full md:m-auto">

    <h1
        class="text-mydarkblue-500 dark:text-gray-100 font-extrabold text-3xl md:text-5xl mb-12 mt-8 font-display text-center">
        {{chapter.title}}
    </h1>

    <div class="flex items-center justify-center select-none -mt-8">

        <action-button text="Edit" route="editor" icon="fa-pen" color="blue"
            size="small">
        </action-button>

    </div>

    <div class="my-16" *ngFor="let task of chapter.tasks">
        <task-view [task]="task"></task-view>
    </div>


    <div class="flex items-center justify-center select-none my-12">

        <action-button text="Previous" (onClick)="goToPreviousChapter()"
            *ngIf="chapter.previousChapterId" icon="fa-angle-left" size="big">
        </action-button>

        <action-button text="Next !" (onClick)="goToNextChapter()"
            *ngIf="chapter.nextChapterId" icon="fa-angle-right" size="big">
        </action-button>
    </div>

</section>