<section class="relative">
    <div
        class="absolute right-0 top-0 flex items-center justify-center select-none">

        <action-button text="Edit" route="editor" icon="fa-pen" size="small"
            color="blue">
        </action-button>

    </div>

    <div
        class="text-mydarkblue-500 dark:text-gray-100 font-extrabold text-3xl md:text-5xl mb-12 mt-8 font-display text-center">
        {{chapter.title}}
    </div>

    <task-view *ngFor="let task of chapter.tasks" [task]="task"></task-view>



    <div class="flex items-center justify-center select-none my-12">

        <action-button text="Previous" (onClick)="goToPreviousChapter()"
            *ngIf="chapter.previousChapterId" icon="fa-angle-left" size="big">
        </action-button>

        <action-button text="Next !" (onClick)="goToNextChapter()"
            *ngIf="chapter.nextChapterId" icon="fa-angle-right" size="big">
        </action-button>
    </div>

</section>