<section class="relative">
    <div
        class="absolute right-0 top-0 flex items-center justify-center select-none">

        <action-button text="Edit" route="editor" icon="fa-pen" size="small"
            color="blue">
        </action-button>

    </div>

    <h1>{{chapter.title}}</h1>
    <task-view *ngFor="let task of chapter.tasks" [task]="task"></task-view>


    <!-- <div class="task">
        <div class="font-semibold">Install angular globally</div>
        <div class="pl-6">
            <ul>
                <li>Angular CLI : Command Line Interface</li>
                <li>Used to create projects, generate application and library
                    code,
                    and perform a variety of ongoing development tasks such as
                    testing, bundling, and deployment.</li>
            </ul>
            <app-code [codes]="codes"></app-code>

        </div>
    </div> -->
</section>