<section *ngIf="step">
    <div class="my-2 text-lg font-semibold">Chapter title</div>
    <input type="text" [(ngModel)]="step.title" placeholder="Chapter title"
        (input)="saveCourse()"
        class="w-full font-extrabold shadow-sm text-3xl mb-12 font-display p-4 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50">


    <div class="my-2 text-lg font-semibold">Tasks</div>
    <task-edit *ngFor="let task of step.tasks" [task]="task"
        (onUpdate)="saveCourse()"></task-edit>

    <div class="flex items-center justify-center">

        <action-button text="Task" (click)="addTask()" icon="fa-plus" size="big"
            color="blue">
        </action-button>

        <action-button text="Close" route="../" icon="fa-times" size="big"
            color="red">
        </action-button>

    </div>


    <!-- <div class="task">
        <div class="font-semibold">Install angular globally</div>
        <div class="pl-6">
            <ul>
                <li>Angular CLI : Command Line Interface</li>
                <li>Used to create projects, generate application and library
                    code,
                    and perform a variety of ongoing development tasks such as
                    testing, bundling, and deployment.</li>
            </ul>
            <app-code [codes]="codes"></app-code>

        </div>
    </div> -->
</section>