<section>

    <div class="btn-container absolute right-0">
        <button class="btn" [routerLink]="'editor'">Edit</button>
    </div>

    <h1>Install and setup environment</h1>
    <app-task *ngFor="let task of course.tasks" [task]="task"></app-task>


    <!-- <div class="task">
        <div class="font-semibold">Install angular globally</div>
        <div class="pl-6">
            <ul>
                <li>Angular CLI : Command Line Interface</li>
                <li>Used to create projects, generate application and library
                    code,
                    and perform a variety of ongoing development tasks such as
                    testing, bundling, and deployment.</li>
            </ul>
            <app-code [codes]="codes"></app-code>

        </div>
    </div> -->
</section>