<div class="flex flex-col w-full dark:bg-darkmode-400 dark:text-gray-200 ">
    <!-- <input type="text" [(ngModel)]="link[0]" (input)="save()"
        class="text-xl mb-2 w-full p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50"
        placeholder="Title"> -->

    <div class="flex  w-full mb-2">
        <div class="w-24 p-2 pl-4">Text</div>
        <input type="text" [(ngModel)]="link[0]" (input)="save()"
            class="dark:bg-darkmode-500 dark:border-darkmode-500 dark:text-gray-200 w-full p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50"
            placeholder="Link text">
    </div>
    <div class="flex w-full">
        <div class="w-24 p-2 pl-4">Url</div>
        <input type="text" [(ngModel)]="link[1]" (input)="save()"
            class="dark:bg-darkmode-500 dark:border-darkmode-500 dark:text-gray-200  w-full p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50"
            placeholder="Link URL">
    </div>

</div>