.chapters-title-logo {
    display: none;
}

.small {
    .logo {
        display: none;
        // .nexify-text {
        //     display: none;
        // }
    }

    .course-title {
        display: none;
    }

    .chapters-title {
        display: none;
    }

    .chapters-title-logo {
        display: none;
    }

    .chapter-title {
        display: none;
    }
    .chapter-index {
        display: none;
        // width: 100%;
        // text-align: center;
    }
    .chapter {
        display: none;
    }
}
