<section class="relative mt-12 m-0 p-4 w-full md:m-auto">


    <h1
        class="text-mydarkblue-500 dark:text-gray-100 font-extrabold text-3xl md:text-5xl mb-12 mt-8 font-display text-center">
        Dashboard
    </h1>


    <div class="flex items-center justify-center select-none mt-8">

        <div (click)="createCourse()"
            class="group transition-colors duration-150 p-8 border border-gray-200 text-mygreen shadow-md rounded-lg bg-white flex flex-col items-center justify-center cursor-pointer hover:bg-mygreen hover:text-white">
            <i class="fas fa-pencil-alt text-2xl mb-2"></i>
            <div class="text-sm mt-2 text-black group-hover:text-white">Create a
                new course</div>
        </div>
    </div>

    <div class="mt-8">
        <loader [hidden]="true"></loader>
    </div>

</section>