<div
    class="h-full flex flex-col w-80 border-mydarkblue-300 text-white select-none relative">


    <div [routerLink]="['/home']"
        class="text-white text-2xl font-display font-bold p-4 border-b border-gray-500 flex items-center cursor-pointer">
        <img src="assets/logo_md_color.png" alt="logo nexify" width="30px"
            class="mr-4">
        Nexify
    </div>

    <div class="text-white font-semibold text-xl text-center py-6 px-4 mb-4">
        <a class="focus:outline-none" [routerLink]="['/course', course.id]"
            (click)="goToCourse()">{{course.title}}</a>
    </div>

    <div class="ml-4 text-sm text-gray-400 h-8 leading-8 pt-2 mb-4">
        Chapters
    </div>
    <div *ngFor="let chapter of chapters | async" class="w-full">
        <a [routerLink]="['/course', course.id, chapter.id]"
            routerLinkActive="bg-mygreen text-green-900" class="block my-0.5 py-2 px-4 text-left transition-colors duration-150 truncate w-full cursor-pointer hover:bg-mygreen hover:text-green-900
                focus:outline-none
            ">

            {{chapter.title}}</a>
    </div>

    <div
        class="absolute text-gray-300 right-5 bottom-5 text-2xl cursor-pointer hover:text-white">
        <i class="fas fa-chevron-left"></i>
    </div>

</div>