<section class="relative mt-12 m-0 p-4 w-full md:m-auto" *ngIf="chapter">
    <div class="my-2 text-lg font-semibold">Chapter title</div>
    <input type="text" [(ngModel)]="chapter.title" placeholder="Chapter title"
        (input)="saveChapter()"
        class="w-full font-extrabold shadow-sm text-3xl mb-12 font-display p-4 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50">


    <div class="my-2 text-lg font-semibold">Tasks</div>
    <div *ngFor="let task of chapter.tasks; let index=index"
        class="flex my-8 relative">
        <div class="mx-2 absolute -left-12 flex items-center flex-col">
            <div (click)="reorderTask($event.target, index, -1)"
                class=" flex items-center justify-center rounded-lg cursor-pointer w-6 h-6 dark:text-white dark:bg-darkmode-300 hover:bg-myblue dark:hover:bg-myblue hover:text-white active:bg-mydarkblue-500">
                <i class="fas fa-angle-up pointer-events-none"></i>
            </div>

            <div (click)="reorderTask($event.target, index, 1)"
                class="flex items-center justify-center rounded-lg cursor-pointer w-6 h-6 dark:text-white dark:bg-darkmode-300 hover:bg-myblue dark:hover:bg-myblue  hover:text-white active:bg-mydarkblue-500">
                <i class="fas fa-angle-down pointer-events-none"></i>
            </div>


            <div (click)="deleteTask(index)"
                class="flex items-center justify-center rounded-lg cursor-pointer w-8 h-8 bg-myred text-white text-sm mt-6">
                <i class="fas fa-trash-alt pointer-events-none"></i>
            </div>


        </div>
        <div class="w-full">
            <task-edit [task]="task" (onUpdate)="saveChapter()"></task-edit>
        </div>
    </div>

    <div class="flex items-center justify-center my-12">

        <action-button text="Task" (click)="addTask()" icon="fa-plus" size="big"
            color="blue">
        </action-button>

        <action-button text="Close" route="../" icon="fa-times" size="big"
            color="red">
        </action-button>

    </div>
</section>