<section class="relative mt-12 m-0 p-4 w-full md:m-auto" *ngIf="chapter">
    <div class="my-2 text-lg font-semibold">Chapter title</div>
    <input type="text" [(ngModel)]="chapter.title" placeholder="Chapter title"
        (input)="saveChapter()"
        class="w-full font-extrabold shadow-sm text-3xl mb-12 font-display p-4 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50">


    <div class="my-2 text-lg font-semibold">Tasks</div>
    <task-edit *ngFor="let task of chapter.tasks; let index=index" [task]="task"
        (onUpdate)="saveChapter()" (onDelete)="deleteTask(index)"></task-edit>

    <div class="flex items-center justify-center my-12">

        <action-button text="Task" (click)="addTask()" icon="fa-plus" size="big"
            color="blue">
        </action-button>

        <action-button text="Close" route="../" icon="fa-times" size="big"
            color="red">
        </action-button>

    </div>
</section>