<div
    class="absolute z-0 w-full h-screen bg-gradient-to-r from-mygreen to-myblue">
</div>

<div
    class="absolute z-10 w-full h-screen bg-gradient-to-bl from-white to-transparent">

    <div
        class="select-none w-1/2 max-w-lg bg-white m-auto rounded-xl h-96 relative top-1/2 transform -translate-y-1/2 shadow-lg p-12">
        <div class="text-5xl text-center font-extrabold">
            Sign in</div>

        <input type="email"
            class="ring-myblue bg-gray-100 ring-opacity-50 p-3 mt-8 w-full focus:outline-none focus:ring rounded-md"
            placeholder="E-mail" required>
        <input type="password"
            class="ring-myblue bg-gray-100 ring-opacity-50 p-3 mt-8 w-full focus:outline-none focus:ring rounded-md"
            placeholder="Password" required>

        <input type="submit" value="Login" name="login"
            class="mt-8 w-full  py-2 px-3 bg-myblue text-white rounded-md shadow-md text-lg hover:bg-mygreen cursor-pointer">
    </div>
</div>