<div class="task" *ngIf="task">
    <div *ngIf="task.title" class="font-semibold text-2xl mb-4">{{task.title}}
    </div>
    <div class="pl-6">

        <!-- Content -->
        <ul *ngIf="task.content">
            <ng-container *ngFor="let content of task.content">
                <li *ngIf="isString(content)" [ngClass]="getType(content)"
                    [innerHTML]="getValue(content)">
                </li>

                <app-code *ngIf="isCode(content)" [codes]="$any(content)">
                </app-code>
            </ng-container>
        </ul>
    </div>
</div>