<div class="my-6 shadow-sm bg-white task rounded-md dark:bg-darkmode-300">

    <input type="text" [(ngModel)]="task.title" placeholder="Task title..."
        (input)="save()"
        class="dark:bg-darkmode-300 dark:border-darkmode-800 dark:text-gray-200 w-full font-semibold shadow-sm text-2xl mb-6 p-3 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50">

    <div class="pl-6 pb-3">

        <div *ngIf="task.content" cdkDropList
            (cdkDropListDropped)="reorder($event)">
            <ng-container *ngFor="let content of task.content; let index=index">

                <div class="flex flex-row items-center rounded-md my-2 mr-4 relative border border-gray-100 dark:bg-darkmode-400 dark:border-darkmode-400"
                    cdkDrag>
                    <div class="w-4 h-full absolute left-0 rounded-l-md dark:bg-darkmode-700 bg-gray-100 text-gray-400 flex items-center justify-center cursor-move"
                        cdkDragHandle>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="w-full flex items-center ml-5">

                        <!-- Action or explanation -->
                        <input placeholder="New action..."
                            class="dark:bg-darkmode-400 dark:border-transparent dark:text-gray-200 action border-none font-light text-lg py-1 w-full pl-4 focus:outline-none focus:ring focus:border-blue-300 "
                            type="text" *ngIf="isAction(content)"
                            [value]="content.value"
                            (input)="saveText($event.target, index)">

                        <input placeholder="New explanation..."
                            class="dark:bg-darkmode-400  dark:text-gray-200 explanation border-none font-light text-lg py-1 w-full pl-4 border focus:outline-none focus:ring focus:border-blue-300 "
                            type="text" *ngIf="isExplanation(content)"
                            [value]="content.value"
                            (input)="saveText($event.target, index)">

                        <!-- Code -->
                        <div *ngIf="isCode(content)"
                            class="w-full dark:bg-darkmode-400 ">
                            <code-edit [codes]="getCode(content)"
                                (onTabSaved)="save()">
                            </code-edit>
                        </div>

                        <!-- Link -->
                        <div *ngIf="isLink(content)" class="w-full">
                            <link-edit [link]="content.value"
                                (onUpdate)="save()">
                            </link-edit>
                        </div>

                    </div>
                    <div class="flex items-center justify-center w-10 h-10">
                        <div (click)="deleteContent(index)"
                            class="w-6 h-6 flex items-center justify-center red-grad rounded-lg cursor-pointer text-xs">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </div>


            </ng-container>
        </div>

        <div class="flex items-center justify-center ">

            <action-button text="action" (click)="add('action')" icon="fa-bolt"
                color="blue">
            </action-button>

            <action-button text="explanation" (click)="add('explanation')"
                icon="fa-lightbulb" color="blue">
            </action-button>
            <action-button text="link" (click)="addLink()" icon="fa-link"
                color="blue">
            </action-button>

            <action-button text="code" (click)="addCode()" icon="fa-code"
                color="blue">
            </action-button>

            <action-button text="delete task" (click)="deleteTask()"
                icon="fa-times" color="red">
            </action-button>

        </div>
    </div>

</div>