<div class="shadow-sm bg-white task rounded-md dark:bg-darkmode-300">

    <input *ngIf="showTitle" type="text" [(ngModel)]="task.title"
        placeholder="Task title..." (input)="save()"
        class="dark:bg-darkmode-300 dark:border-darkmode-800 dark:text-gray-200 w-full font-semibold shadow-sm text-2xl mb-6 p-3 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50">

    <div class="px-6 py-3">

        <div *ngIf="task.content.length === 0">
            <div class="flex items-center justify-center flex-wrap gap-2 mb-4">

                <!-- <action-button *ngIf="canUse('subtitle')" text="subtitle"
                    (click)="add('subtitle', 0)" icon="fa-bolt" color="blue">
                </action-button>

                <action-button *ngIf="canUse('line')" text="line"
                    (click)="add('line', 0)" icon="fa-pencil-alt" color="blue">
                </action-button> -->

                <action-button *ngIf="canUse('markdown')" text="markdown"
                    (click)="add('markdown', 0)" icon="fa-align-left"
                    color="blue">
                </action-button>

                <action-button *ngIf="canUse('link')" text="link"
                    (click)="add('link', 0, [])" icon="fa-link" color="blue">
                </action-button>

                <action-button *ngIf="canUse('code')" text="code"
                    (click)="addCode(0)" icon="fa-code" color="blue">
                </action-button>

                <action-button *ngIf="canUse('image')" text="image"
                    (click)="add('image', 0)" icon="fa-image" color="blue">
                </action-button>

            </div>

        </div>

        <div *ngIf="task.content" cdkDropList
            (cdkDropListDropped)="reorder($event)">
            <ng-container *ngFor="let content of task.content; let index=index">

                <div class="flex flex-row items-center rounded-md relative border border-gray-100 dark:bg-darkmode-400 dark:border-darkmode-400"
                    cdkDrag>
                    <div class="w-4 h-full absolute left-0 rounded-l-md dark:bg-darkmode-700 bg-gray-100 text-gray-400 flex items-center justify-center cursor-move"
                        cdkDragHandle>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="w-full flex items-center ml-5">

                        <!-- Action  -->
                        <!-- <input placeholder="New action..."
                            class="action dark:bg-darkmode-400 dark:border-transparent dark:text-gray-200 action border-none font-light text-lg py-1 w-full pl-4 focus:outline-none focus:ring focus:border-blue-300 "
                            type="text" *ngIf="blocktype.isAction(content)"
                            [value]="content.value"
                            (input)="saveText($event.target, index)">

                        <input placeholder="New item..."
                            class="dark:bg-darkmode-400  dark:text-gray-200 item border-none font-light text-lg py-1 w-full pl-4 border focus:outline-none focus:ring focus:border-blue-300 "
                            type="text" *ngIf="blocktype.isItem(content)"
                            [value]="content.value"
                            (input)="saveText($event.target, index)"> -->
                        <textarea placeholder="Type your markdown here"
                            class="action dark:bg-darkmode-400 dark:border-transparent dark:text-gray-200 action border-none font-light text-lg py-1 w-full pl-4 focus:outline-none focus:ring focus:border-blue-300 "
                            type="text" *ngIf="blocktype.isMarkdown(content)"
                            [value]="content.value"
                            (input)="saveText($event.target, index)">
                        </textarea>

                        <!-- Code -->
                        <div *ngIf="blocktype.isCode(content)"
                            class="w-full dark:bg-darkmode-400 ">
                            <code-edit [codes]="getCode(content)"
                                (onTabSaved)="save()">
                            </code-edit>
                        </div>

                        <!-- Link -->
                        <div *ngIf="blocktype.isLink(content)" class="w-full">
                            <link-edit [link]="content.value"
                                (onUpdate)="save()">
                            </link-edit>
                        </div>
                        <!-- Image -->
                        <div *ngIf="blocktype.isImage(content)" class="w-full">
                            <img-edit [img]="content.value"
                                (onUpdate)="saveText($event, index)">
                            </img-edit>
                        </div>
                        <!-- Tip -->
                        <div *ngIf="blocktype.isTip(content)" class="w-full">
                            <tip-edit [tip]="content.value"
                                (onUpdate)="saveText($event, index)">
                            </tip-edit>
                        </div>

                    </div>
                    <div class="flex items-center justify-center w-10 h-10">
                        <div (click)="deleteContent(index)"
                            class="w-6 h-6 flex items-center justify-center red-grad rounded-lg cursor-pointer text-xs">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </div>

                <!-- Inter line to add a block between two blocks -->
                <div (click)="displayAddLine($event.target, addLine)"
                    class="relative new-block-line flex items-center justify-center h-2 bg-opacity-5 bg-gray-400 hover:bg-myblue hover:bg-opacity-100 rounded-full cursor-pointer my-1">
                    <div
                        class="pointer-events-none plus-line hidden absolute z-10 top-1/2 transform -translate-y-1/2 w-10 h-6 items-center justify-center bg-myblue rounded-xl">
                        <i
                            class="pointer-events-none text-xs text-white fas fa-plus"></i>
                    </div>

                </div>

                <!-- Displays all available blocks to add after the current block -->
                <div #addLine
                    class="add-line hidden items-center justify-center flex-wrap gap-2 my-4">

                    <action-button *ngIf="canUse('action')" text="action"
                        (click)="add('action', index)" icon="fa-bolt"
                        color="blue">
                    </action-button>
                    <action-button *ngIf="canUse('item')" text="text"
                        (click)="add('item', index)" icon="fa-pencil-alt"
                        color="blue">
                    </action-button>


                    <action-button *ngIf="canUse('text')" text="text"
                        (click)="add('text', 0)" icon="fa-align-left"
                        color="blue">
                    </action-button>

                    <action-button *ngIf="canUse('link')" text="link"
                        (click)="add('link', index, [])" icon="fa-link"
                        color="blue">
                    </action-button>

                    <action-button *ngIf="canUse('code')" text="code"
                        (click)="addCode(index)" icon="fa-code" color="blue">
                    </action-button>

                    <action-button *ngIf="canUse('image')" text="image"
                        (click)="add('image', index)" icon="fa-image"
                        color="blue">
                    </action-button>

                    <action-button *ngIf="canUse('tip')" text="tip"
                        (click)="add('tip', index)" icon="fa-lightbulb"
                        color="blue">
                    </action-button>
                </div>


            </ng-container>
        </div>
    </div>

</div>