<div class="w-full h-full flex flex-col items-center justify-center"
    *ngIf="!hidden">
    <div class="relative inline-block leading-4">
        <div
            class="bigSqr relative inline-block w-10 h-10 overflow-hidden origin-bottom-left">
            <div class="square bg-myblue left-0 top-5">
            </div>
            <div class="square bg-myblue left-5 top-5 second">
            </div>
            <div class="square bg-myblue left-0 top-0 third">
            </div>
            <div class="square bg-myblue left-5 top-0 fourth">
            </div>
        </div>
    </div>
    <div class="text-myblue/60">Loading...</div>
</div>