<section class="bg-white pb-4 mb-20" *ngIf="course">

    <input type="text" [(ngModel)]="course.title" (keyup)="saveCourse()"
        class="w-full font-extrabold text-5xl mb-12 p-2 text-center font-display focus:outline-none cursor-text focus:ring border focus:border-blue-300 border-indigo-50">

    <task-edit *ngFor="let task of course.tasks" [task]="task"
        (onUpdate)="saveCourse()"></task-edit>

    <div class="flex items-center justify-center">
        <button
            class="px-4 py-2 blue-grad flex items-center justify-center shadow-md rounded-lg cursor-pointer text-lg mr-4"
            (click)="addTask()">
            <i class="fas fa-plus mr-3"></i>
            Task</button>
        <button
            class="px-4 py-2 red-grad flex items-center justify-center shadow-md rounded-lg cursor-pointer text-lg"
            [routerLink]="['../']">
            <i class=" fas fa-times mr-3"></i>
            Close editor</button>
    </div>


    <!-- <div class="task">
        <div class="font-semibold">Install angular globally</div>
        <div class="pl-6">
            <ul>
                <li>Angular CLI : Command Line Interface</li>
                <li>Used to create projects, generate application and library
                    code,
                    and perform a variety of ongoing development tasks such as
                    testing, bundling, and deployment.</li>
            </ul>
            <app-code [codes]="codes"></app-code>

        </div>
    </div> -->
</section>