<section class="relative mt-12 m-0 p-4 w-full md:m-auto" *ngIf="course">

    <div class=" my-2 text-lg font-semibold dark:text-gray-200">Course title
    </div>
    <input type="text" [(ngModel)]="course.title" placeholder="Course title..."
        (input)="save()" (blur)="updateName(name)"
        class="dark:bg-darkmode-300 dark:border-darkmode-800 dark:text-white w-full font-extrabold shadow-sm text-3xl mb-12 font-display p-4 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50">

    <div class="my-2 text-lg font-semibold dark:text-gray-200">Course URI</div>
    <input #name type="text" [(ngModel)]="course.name"
        placeholder="Course id..." (input)="save()"
        class="dark:bg-darkmode-300 dark:border-darkmode-800 dark:text-white w-full font-normal shadow-sm text-base mb-12 font-display p-4 border rounded-md focus:outline-none focus:ring focus:border-blue-300 border-indigo-50">

    <div class="my-2 text-lg font-semibold dark:text-gray-200">Chapters</div>
    <div cdkDropList (cdkDropListDropped)="reorder($event)">

        <ng-container *ngFor="let chapter of chapters; let index=index">

            <div class="flex flex-row items-center rounded-md my-2 relative dark:border-darkmode-800 dark:bg-darkmode-300 bg-white border border-gray-100"
                cdkDrag>
                <div class="w-4 h-full absolute left-0 rounded-l-md bg-gray-100 text-gray-400 dark:bg-darkmode-700 flex items-center justify-center cursor-move"
                    cdkDragHandle>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div
                    class="w-full flex items-center bg-white dark:bg-darkmode-600 ml-5">
                    <input type="text" [(ngModel)]="chapter.title"
                        [id]="'chapter-'+chapter.id"
                        (input)="saveChapter(index)"
                        (keydown.enter)="addChapter()"
                        class="dark:bg-darkmode-300 dark:border-darkmode-800 dark:text-gray-200 p-4 w-full focus:outline-none focus:ring focus:border-blue-300 border-indigo-50">
                </div>

                <div class="flex items-center justify-center w-10 h-10">
                    <div (click)="deleteChapter(index)"
                        class="w-6 h-6 flex items-center justify-center red-grad rounded-lg cursor-pointer text-xs">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="mb-12">
        <action-button text="chapter" (click)="addChapter()" icon="fa-plus"
            color="blue">
        </action-button>
    </div>

    <div class="my-2 text-lg font-semibold dark:text-gray-200">Prerequisite
    </div>
    <task-edit [task]="course.prerequisite" (onUpdate)="save()"
        [showTitle]="false" [included]="['item']">
    </task-edit>

    <div class="my-2 text-lg font-semibold dark:text-gray-200">Objectives
    </div>

    <task-edit [task]="course.objectives" (onUpdate)="save()"
        [showTitle]="false" [included]="['item']">
    </task-edit>

    <div class="my-2 text-lg font-semibold dark:text-gray-200">Homepage</div>
    <task-edit [task]="course.home" (onUpdate)="save()">
    </task-edit>

    <div class="flex items-center justify-center select-none mt-12">

        <action-button text="Close" route="../" icon="fa-times" color="red"
            size="big">
        </action-button>

        <action-button text="Publish" (onClick)="publish()"
            *ngIf="!course.published" icon="fa-paper-plane" color="blue"
            size="big">
        </action-button>

        <action-button text="Unpublish" (onClick)="unpublish()"
            *ngIf="course.published" icon="fa-ban" color="blue" size="big">
        </action-button>
    </div>
</section>