<div #codeWrapper>
    <div class="my-12 border-mygray border rounded-md shadow-sm"
        *ngIf="codes?.content.length > 0">
        <div class="flex flex-row items-center h-10 rounded-md"
            *ngIf="codes.content[0]?.name">

            <div class="tab rounded-t-md" [ngClass]="{'active':index===0}"
                *ngFor="let tab of codes.content; let index=index"
                (click)="openTab($event, tab.id)">
                {{tab.name}}
            </div>
        </div>
        <ng-container *ngFor="let tab of codes.content; let index=index">
            <div [id]="tab.id" class="code-content  rounded-md"
                [ngClass]="{'hidden':index!==0}">
                <div class="flex flex-col">
                    <pre><code [ngClass]='tab.classname' class="hljs">{{tab.code | removeRegexp}}</code></pre>
                    <div [innerHTML]="tab.code | removeRegexp | safeHtml"
                        class="p-8" *ngIf="isHtml(tab)">
                    </div>
                </div>

            </div>

        </ng-container>
    </div>
</div>