<div class="p-7 w-2/3 m-auto">
    <h1 class="font-bold text-4xl mb-4 font-display">
        Welcome on Chrono Learning!
    </h1>

    <p class="py-2">
        You have no time, great, me neither! Here, no bullshit, no stories, only
        all steps needed to create a full app with angular and firebase.
        Here, you will create a full project from scratch. As doing is the best
        way to learn, I strongly advise to do all steps described in this
        tutorial on your own.
    </p>
    <p class="py-2">How does it work?</p>
    <p class="py-2">
        This course is divided in several phase. A phase represents a . Each
        step is divided in actions
    </p>


    <p></p>
</div>