<div class="my-6 shadow-sm bg-white dark:bg-darkmode-400 task"
    *ngIf="task.content.length > 0">
    <div (click)="hideTask()" *ngIf="task.title"
        class="font-semibold shadow-sm text-xl md:text-2xl mb-6 cursor-pointer hover:bg-gray-100 dark:hover:bg-darkmode-300 p-3 text-mygreen">
        {{task.title}}
    </div>

    <div #taskContent class="px-6 pb-3 dark:text-gray-200">

        <!-- Content -->
        <ul *ngIf="task.content">
            <ng-container *ngFor="let content of task.content">
                <li *ngIf="blocktype.isExplanation(content) || blocktype.isAction(content)"
                    [ngClass]="content.type" [innerHTML]="content.value">
                </li>

                <div *ngIf="blocktype.isLink(content)">
                    <link-view [link]="content.value"></link-view>
                </div>

                <div *ngIf="blocktype.isCode(content)">
                    <code-view [codes]="blocktype.getCode(task, content)">
                    </code-view>
                </div>

                <div *ngIf="blocktype.isImage(content)">
                    <img-view [img]="content.value">
                    </img-view>
                </div>
            </ng-container>
        </ul>
    </div>
</div>