<div [ngClass]="{'my-6':hasMargin}" class="bg-white dark:bg-darkmode-400"
    *ngIf="task.content.length > 0">

    <div (click)="hideTask()" *ngIf="task.title"
        class="font-semibold shadow-sm text-xl md:text-2xlcursor-pointer hover:bg-gray-100 dark:hover:bg-darkmode-300 p-3 text-mygreen task-title">
        {{task.title}}
    </div>

    <div #taskContent class="px-6 pt-3 pb-3 dark:text-gray-200"
        *ngIf="task.content">

        <!-- Content -->
        <ng-container *ngFor="let content of task.content">
            <!-- <li *ngIf="blocktype.isAction(content)" [ngClass]="content.type"
                    [innerHTML]="content.value | markdown" class="mt-6 mb-4">
                </li>

                <li *ngIf="blocktype.isItem(content)" [ngClass]="content.type"
                    [innerHTML]="content.value | markdown">
                </li> -->
            <!-- TODO Add markdown view here -->
            <div class="py-4 prose" [innerHTML]="getMarkdown(content.value)">
            </div>

            <div *ngIf="blocktype.isLink(content)" class="my-4">
                <link-view [link]="content.value"></link-view>
            </div>

            <div *ngIf="blocktype.isCode(content)" class="my-4">
                <code-view [codes]="blocktype.getCode(task, content)">
                </code-view>
            </div>

            <div *ngIf="blocktype.isImage(content)" class="my-4">
                <img-view [img]="content.value">
                </img-view>
            </div>

            <div *ngIf="blocktype.isTip(content)" class="my-4">
                <tip-view [tip]="content.value">
                </tip-view>
            </div>
        </ng-container>
    </div>
</div>